<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kevinsmith.iatracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CampaignSelectNew" />
        <activity android:name=".MissionsSelectNew" />
        <activity android:name=".ImperialClassSelectNew" />
        <activity android:name=".AgendaSelectNew" />
        <activity android:name=".HeroSelectNew"></activity>
        <activity android:name=".HeroDecks" />
        <activity android:name=".ImpOwned" />
        <activity android:name=".ImpPurchase" />
        <activity android:name=".Items" />
        <activity android:name=".LoadCampaign" />
        <activity android:name=".LoadedCampaign" />
        <activity android:name=".MissionsLoadCamp" />
    </application>

</manifest>